<!DOCTYPE html>
<html ng-app="self-control" ng-strict-di>
  <head>
    <title>SelfControl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    derp
  </body>
</html>
